{% extends "base.html" %}
{% block content %}
<form action="{{url_for('search')}}" method='get'>
    <input type='text' id='search_box' name='keyword'>
    <input type="submit" name="submit">
</form>
<ul>
    {% for bookmark in bookmarks.items %}
    <li>
        <a href="{{bookmark.url}}">{{bookmark.name}}</a>
        <input name="{{bookmark.name}}" class="do_delete" type="submit" value="delete"/>
    </li>
    {% endfor %}
</ul>
<div>
    <button id="button_add" onclick="{location.href='/add'}">add</button>
    {% if bookmarks.has_prev %}
    <a href="{{url_for('index',page=bookmarks.prev_num)}}">上一页</a>
    {% endif %}
    {% if bookmarks.has_next %}
    <a href="{{url_for('index',page=bookmarks.next_num)}}">下一页</a>
    {% endif %}
</div>
<script>
$(".do_delete").click(function(){
    var result = confirm("Are you Sure?")
    if(result){
        $.post("{{url_for("delete")}}", {name:$(this).attr("name")}, function(){
            window.location.href='/'
        });
    }
})
</script>
{% endblock %}
